<h3>Roster Reporting</h3>
<div class="row">
    <div class="col-xs-12">
        <app-report-tree></app-report-tree>
    </div>    
    <div #report class="col-xs-12">
        <app-viewer-report><router-outlet #reportView></router-outlet></app-viewer-report>
    </div>
</div>
