.log {
    height: 8vh;
    overflow-y: scroll;
    background-color: #ccc;
}

.logClear {    
    height: 8vh;
    float: right;
    margin: 0px 0px 0px 5px ;
}

    .log__message {
        margin: 0;
    }
