<div class="logClear">
  <P  class="btn btn-default" *ngIf=logExists (click)="clearLog()"  title="Clear Log"><i class="fa fa-times"></i></P>  
</div>
<div class="log" #log (scroll)="onScroll()">
  <p class="log__message" *ngFor="let message of logMessages">{{message}}</p>
</div>