<div *ngIf="leave" class="">
    <label>{{ leave.leaveType }} Balance:</label>
    <div>
        <span>Days: {{ leave.leaveBalanceDays }}</span> | <span>Hours: {{ leave.leaveBalanceHours }}</span>
    </div>
    <!-- <div class="row">
        <p class="col-xs-6"></p>
        <p class="col-xs-6"></p>
    </div> -->
</div>
