
<div *ngIf="_dataService.loading || reportLoading">
    <p><i class="fa fa-spinner fa-spin"></i> Loading Report</p>
</div>
<div *ngIf="reportData.items.length === 0 && !_dataService.loading && !reportLoading">
    <p>No report data found. Try changing your report filters.</p>
</div>
<div *ngIf="reportData.items.length > 0 && !_dataService.loading && !reportLoading" id="report-flex" >
    <div id="printHeader" class="printHeader">
        <h4>{{companyName}}</h4>
        <h4>Timesheet (By Location) Report</h4>
        <h4>
            <span class="pull-left">Period: {{ dateFrom | date:'dd/MM/yyyy' }} to {{ dateTo | date:'dd/MM/yyyy' }}</span> 
            <span class="pull-right">Printed at {{currentDate | date :'medium'}}</span>
        </h4>
    </div>
    <br>
    <div *ngFor="let location of pagedItems">
        <h4>
            <span>Location: &nbsp;&nbsp;&nbsp;&nbsp; {{ location.locationName }}</span>
            <span class="pull-right">NO SIGNATURE / NO PAY</span>
        </h4>
        
        <wj-flex-grid
            #dataGrid
            [itemsSource]="location.timesheetData"
            [selectionMode]="'None'"
            [isReadOnly]="true"
            [showAlternatingRows]="false"
            [headersVisibility]="'Column'"
            (initialized)="initGrid(dataGrid);initGridLocal(dataGrid, location.locationName)">
    
            <wj-flex-grid-column
                [header]="'Employee'"
                [binding]="'employeeName'"
                [isRequired]="true"
                [align]="'left'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Event'"
                [binding]="'eventName'"
                [isRequired]="false"
                [align]="'left'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column                
                [header]="optionalColumn.columnName"
                [binding]="optionalColumn.columnBinding"
                [isRequired]="false"
                [align]="'left'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Date'"
                [binding]="'startDate'"
                [isRequired]="true"
                data-type="'Date'"
                [format]="'dd/MM/yyyy'"
                [mask]="'00/00/0000'" 
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Start'"
                [binding]="'startTime'"
                [format]="userSettingTimeformat"
                [mask]="'00:00'"                  
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'Start Var'"
                [binding]="''"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'End'"
                [binding]="'endTime'"
                [format]="userSettingTimeformat"
                [mask]="'00:00'" 
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'End Var'"
                [binding]="''"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Break'"
                [binding]="'breakLength'"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'Brk Start'"
                [binding]="'breakStartFull'"
                [format]="userSettingTimeformat"
                [mask]="'00:00'" 
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'Brk End'"
                [binding]="'breakEndFull'"
                [format]="userSettingTimeformat"
                [mask]="'00:00'" 
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
    
            <wj-flex-grid-column
                [header]="'Hrs Wkd'"
                [binding]="'hoursWorked'"
                [format]="'n2'"
                [isRequired]="false"
                [align]="'right'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Signature'"
                [isRequired]="false"
                [align]="'left'"
                [width]="'*'"
                [minWidth]="90" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Notes'"
                [isRequired]="false"
                [align]="'left'"
                [width]="'*'"
                [minWidth]="90" >
            </wj-flex-grid-column>
        </wj-flex-grid> 
        
        <div id="printFooter" class="print-footer">
            <table>
                <tr>
                    <td>
                        <span>Print Name:</span>
                    </td>
                    <td>
                        <span>Signature:</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="printGridHid" style="display: none"></div>
    </div>
    <br>
</div>
      