@import '../../../styles/report-printing';

wj-flex-grid {
  width: 100%;
  max-width: auto;
  resize: both;
  overflow: auto;
}

.wj-flex-grid .wj-header {
  text-align: center;
}

.printHeader {
  > h4 {
    text-align: center;
  }
}
