
.tree {
    list-style: none;
    padding-left: 15px;
}

.tree-item {
    position: relative;
    white-space: nowrap;
}

.tree-icon {
    position: absolute;
    top: 10px;
    left: -15px;
    cursor: pointer;
    display:inline-block;
    vertical-align: middle;
}

.has-rosters {
    font-weight: bold;
}

.btn-check {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding-top: 7px;
}



