<ul class="tree">
    <li class="tree-item" *ngFor="let node of treeData">
        <i class="fa fa-plus-square-o tree-icon" aria-hidden="true" *ngIf="node.children?.length && !node.visible" (click)="node.visible = !node.visible" 
        ></i>
        <i class="fa fa-minus-square-o tree-icon" aria-hidden="true" *ngIf="node.children?.length && node.visible" (click)="node.visible = !node.visible"
        ></i>
        <label [ngClass]="{ 'checkbox-inline': buttonType === 'checkbox', 'radio-inline': buttonType === 'radio' }" >
            <input [type]="buttonType" name="buttonType" (change)="clickEntityButton(node); sendCheckboxEvent(); sendRadioEvent(node.entityId);" [disabled]="node.entityDisabled" [checked]="node.selected">
            <span [ngClass]="{'has-rosters': node.entityBold}" style="vertical-align: middle;">{{node.entityName}}</span>
        </label>
        <span *ngIf="buttonType === 'checkbox'" class="btn-check"><i class="fa fa-check" aria-hidden="true" *ngIf="node.children?.length" (click)="toggleDescendants(node)"></i></span>
        <app-tree-view [treeData]="node.children" [buttonType]="buttonType" (checkboxChange)="sendCheckboxEvent()" (radioChange)="sendRadioEvent($event)" [hidden]="!node.visible"></app-tree-view>
    </li>
</ul>
