$header_colour: rgb(102, 176, 250);
$toolbar_colour: rgb(67, 136, 203);

.shadow {
    border-radius: 10px 10px 0 0; // match toolbar rounded edges
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.toolbar {
    display: flex;
    align-items: center;
    background-color: $toolbar_colour;
    padding: 3px;
    border-radius: 10px 10px 0 0;

    input.page-input {
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;
        text-align: center;
        width: 40px;
    }

    wj-combo-box {
        width: 100px;
    }

    .glyphicon {
        cursor: default;
        font-size: 130%;
        color: white;
    }

    .disabledPagerDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    .group-start {
        margin-left: 20px;
    }

    .group-item {
        margin-left: 10px;
    }

    .page-display {
        font-weight: 700;
        line-height: 1;
        align-items: center;
        color: white;
    }

    .lb-sm {
        font-size: 16px;
        padding: 0px;
    }

    .lb-md {
        font-size: 20px;
        padding: 0 5px 0 5px;
    }

    .white-icon {
        color: white;
    }
    
    .clickable {
        cursor: pointer;
        &:hover {
            opacity: 0.75;
        }
    }
}

.report {
    background: white;
    height: 64vh;
    padding: .15in .2in .2in .2in; 
    overflow: auto;
}

.report-header {
    color: #dcf3f6;
    background-color: $header_colour;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 2.5px 2.5px;
    vertical-align: baseline;
    text-align: center;
}

.report-header h1 { 
    display: inline-block;       
    color: #fff;
    font-size: 25px;
    line-height: 1;
    margin: 5px 0 5px;
    vertical-align: baseline;
}

.disabledtoolbar {
    pointer-events: none;
    opacity: 0.5;
}
