<div class="container-fluid">  
    <div class="report-header">
        <span><h1>{{ reportName }}</h1></span>
    </div> 
    <div class="shadow">
        <div class="toolbar" [ngClass]="{ 'disabledtoolbar': !_dataService.enableToolbar }">
            <!-- filter -->
            <div class="fa fa-lg fa-list white-icon clickable group-start" 
                title="Filter Parameters"
                (click)="reportcommands.filterReportCommand.executeCommand()">
                <wj-popup #filterReportPopup [modal]="true"
                    (initialized)="_dataService.filterReportPopup = filterReportPopup">
                    <app-filter-report></app-filter-report>
                </wj-popup>         
            </div>  
            <!-- Pagination --> 
            <div class="fa fa-lg fa-arrow-circle-up white-icon clickable group-start {{ currentPage === 1 ? 'disabledPagerDiv': ''}}" 
                title="Previous Page"
                (click)="setPage(currentPage - 1)">
            </div> 
            <div class="fa fa-lg fa-arrow-circle-down white-icon clickable group-item {{ currentPage === totalPages ? 'disabledPagerDiv': ''}}" 
                title="Next Page"
                (click)="setPage(currentPage + 1)">
            </div>            
            <input #PageNumber class="page-input group-item" type="text"                
                name="Page" value="{{currentPage}}" 
                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                (keyup.enter)="setPage(PageNumber.value)">
            <span class="page-display lb-md">/</span>
            <span class="page-display lb-sm">{{ totalPages }}</span>
            
            <!-- zoom -->
            <div class="fa fa-lg fa-minus-circle white-icon clickable group-start"
                title="Zoom Out"
                (click)="zoomLevels.moveCurrentToPrevious()">
            </div>
            <div class="fa fa-lg fa-plus-circle white-icon clickable group-item"
                title="Zoom In"
                (click)="zoomLevels.moveCurrentToNext()">
            </div>
            <wj-combo-box class="group-item"
                [itemsSource]="zoomLevels"
                [displayMemberPath]="'header'">
            </wj-combo-box>

            <!-- print -->
            <div class="fa fa-lg fa-print white-icon clickable group-start"
                title="Print"
                (click)="print()">
            </div>

            <div class="fa fa-lg fa-file-excel-o white-icon clickable group-start" 
                title="Export to Excel"
                (click)="ExcelExport()">
            </div> 

            <!-- hide PDF export and search funtionality for future expansion
            Client can use chrom pdf export ATM advised by JB -->
            <!-- Save As PDF -->
            <!-- <div class="glyphicon glyphicon-save-file white-icon clickable group-start" 
                title="Download as PDF"
                (click)="downloadPDF()">
            </div>   -->
            
            <!-- Search -->
            <!-- <div class="glyphicon glyphicon-search white-icon clickable group-start"
                title="Search"
                (click)="showSearchBar()">
            </div>
            <input #searchItem class="group-start" [hidden]= "!searchBar" 
                ng-model="searchText" placeholder="enter search text here"
                (keyup.enter)="searchText(searchItem.value)"> -->
        </div>

        <div class="report">
            <div class="zoom" #reportView>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
