/* Report Styles */
.watermark {
    position: fixed;
    width: 100%;
    height: 100%;
}
@media not print {
    .watermark {
        display: none;
    }
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toolbar {
    display: flex;
    align-items: center;
    background-color: rgb(174, 205, 235);
    border-color: #2e6da4;
    padding: 5px;
    border-radius: 10px 10px 0 0;   
}

.toolbar .glyphicon {
    cursor: default;
    font-size: 130%;
    color: #111010;
}

.toolbar .group-start {
    margin-left: 40px;
}

.toolbar .page-group {
    margin-left: 10px;
}  

.toolbar .lb-sm {
    font-size: 16px;
    color: black;        
    padding: 0px;
    align-items: center;
}

.toolbar .lb-md {
    font-size: 20px;
    color: black;
    align-items: center;
}

.toolbar .fa-file-excel-o {
    color: rgb(174, 205, 235); 
    background-color: black;
    font-size: 150%;
}

.report {
    background: white;
    max-height: 800px;
    height: 580px;
    padding: .15in .2in .2in .2in; 
    overflow: auto;
}
.reportheader {
    color: #dcf3f6;
    background-color: rgb(113, 178, 238);
    margin-bottom: 14px;
    margin-top: 0;
    padding: 2px 2px;
    vertical-align: baseline;
}
.reportheader h1 { 
    display: inline-block;       
    color: #fff;
    font-size: 25px;
    line-height: 1;
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: baseline;
}

.disabledtoolbar {
    pointer-events: none;
    opacity: 0.5;
}

.disabledPagerDiv {
    pointer-events: none;
    opacity: 0.4;
}
