app-roster{
    display: block;
}

h3 {
    color: rgb(68, 120, 148);
}

.multiple-grids{
    height: 30vh;
    max-height: 30vh;
}

.single-grid{
    height: 65vh;
    max-height: 65vh;
}

.roster-screen{
    max-height: 65vh;
}

hr { 
    margin-top: 1px; 
    margin-bottom: 10px;
    border: none;
    height: 3px;
    /* Set the hr color */
    background-color: rgb(184, 180, 180); 
}