<h3>Rostering</h3>
<p>Use this page to view or modify existing Rosters.</p>
<div class="row">
    <div class="col-xs-12">
        <app-tree></app-tree>
    </div>
</div>
<div class="row">
    <div #roster class="col-xs-12 roster-screen">
        <app-roster-toolbar></app-roster-toolbar>
        <!-- <app-emp-roster-details [class.hidden]="!_dataService.showEmployeeGrid"></app-emp-roster-details> -->
        <!-- <hr  [class.hidden]="!_dataService.showEmployeeGrid" /> -->
        <app-roster [class.multiple-grids]="_dataService.showEmployeeGrid" [class.single-grid]="!_dataService.showEmployeeGrid" ></app-roster>
        <!-- <app-log></app-log> -->
    </div>
</div>
