<div *ngIf="_dataService.loading || reportLoading">
    <p><i class="fa fa-spinner fa-spin"></i> Loading Report</p>
</div>
<div *ngIf="reportData.items.length === 0 && !_dataService.loading && !reportLoading">
    <p>No report data found. Try changing your report filters.</p>
</div>
<div class="report-flex" *ngIf="reportData.items.length > 0 && !_dataService.loading && !reportLoading" id="report-flex" >
    <div id="printHeader" class="printHeader">
        <h4>{{companyName}}</h4>
        <h4>Timesheet (By Employee) Report</h4>
        <h4>
            <span class="pull-left">Period: {{ dateFrom | date:'dd/MM/yyyy' }} to {{ dateTo | date:'dd/MM/yyyy' }}</span>
            <span class="pull-right">Printed at {{currentDate | date:'medium'}}</span>
        </h4>
    </div>
    <br>
    <div *ngFor="let employee of activePageItems" >
        <h4>
            <span>{{ employee.employeeName }}</span>
            <span class="pull-right">NO SIGNATURE / NO PAY</span>
        </h4>

        <wj-flex-grid
            #dataGrid
            [itemsSource]="employee.timesheetData"
            [selectionMode]="'None'"
            [isReadOnly]="true"
            [showAlternatingRows]="false"
            (initialized)="initGrid(dataGrid)">
            
            <wj-flex-grid-column
                [header]="'Location'"
                [binding]="'locationName'"
                [isRequired]="true"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Task'"
                [binding]="'TaskName'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Date'"
                [binding]="'startDate'"
                [isRequired]="true"
                [format]="'dd-MM-yyyy'"
                [dataType]="'Date'"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Start'"
                [binding]="'startTime'"
                [format]="userSettingTimeformat"
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Start Var'"
                [binding]="''"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'End'"
                [binding]="'endTime'"
                [format]="userSettingTimeformat"
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'End Var'"
                [binding]="''"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Break'"
                [binding]="'breakLength'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Brk Start'"
                [binding]="'breakStartFull'"
                [format]="userSettingTimeformat"
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Brk End'"
                [binding]="'breakEndFull'"
                [format]="userSettingTimeformat"
                [dataType]="'Date'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>

            <wj-flex-grid-column
                [header]="'Hrs Wkd'"
                [binding]="'hoursWorked'"
                [format]="'n2'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="100" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Signature'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="90" >
            </wj-flex-grid-column>
            
            <wj-flex-grid-column
                [header]="'Notes'"
                [isRequired]="false"
                [align]="'center'"
                [width]="'*'"
                [minWidth]="90" >
            </wj-flex-grid-column>
        </wj-flex-grid>

        <div id="printFooter" class="print-footer">
            <table>
                <tr>
                    <td>
                        <span>Print Name &nbsp;<input type="text" name="Print"></span>
                    </td>
                    <td class="right-text">
                        <span>Signature &nbsp;<input type="text" name="Sign"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="printGridHid" style="display: none"></div>
    </div>
</div>
