@import '../../../styles/report-printing.scss';

// .printHeader {
//   margin-bottom: 50px;
// }

.printHeader {
  > h4 {
    text-align: center;
  }
}

@media screen {
  #printFooter {
    display: none;
  }
}