<form class="form-Password" #ChngPwdForm="ngForm" (ngSubmit)="ChangePwd(ChngPwdForm)">
        <div class="modal-header">
          <h3 class="pwd-header">Change Password</h3>
      </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"> Current Password </div>
                  <input [(ngModel)] = "currentpassword" type="password" class="form-control" name="currentpassword" placeholder="Current Password" (focusout)="focusOutFunction()" required ngModel>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"> New Password </div>
                <input [(ngModel)] = "newpassword" type="password" class="form-control" name="newpassword"  placeholder="New Password" (focusout)="focusOutFunction()" required ngModel>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"> Confirm Password</div>
                  <input [(ngModel)] = "confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" (focusout)="focusOutFunction()" required ngModel>
                </div>
            </div> 
          </div>
          <div class="row" [style.color] = "changeSuccess ? 'green' : 'red'">
              <!-- <font color="red"> {{ passwordErr }} </font> -->
              {{ passwordErr }}
              
               
            
          </div>
      </div>
      <div class="modal-footer">
         
          <button type="submit" class="btn btn-primary" [disabled]="loading"><i class="fa" [ngClass]="{'fa-sign-in': !loading, 'fa-spinner fa-spin': loading }"></i> Update </button>
          <button type="button" class="btn btn-default wj-hide"  (click)="cancelChangePwd()"> Cancel </button>
      </div>
      <div class="clearfix"></div>
      </form>
        