.form-Password {
    max-width: 330px;
    margin: 0 auto;
  }
  
.select-fix {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /*background-image: url(assets/select-arrow.svg);*/
    background-repeat: no-repeat;
    background-position: right 50%;
}

.pwd-header
{
    margin: 0;
    text-align: left ;
    font-style: normal;
    font-weight: bold;
    font-size: 15;
    color: rgb(68, 120, 148);
}

.modal-header
{
    margin: 0;
}

.input-group-addon{
    width: 150px;
}