<wj-menu-item title="Accept Roster" [cmd]="commands.acceptRosterCommand"><i class="fa fa-fw fa-check"></i> Accept Roster</wj-menu-item>
<wj-menu-item title="Reject Roster" [cmd]="commands.rejectRosterCommand"><i class="fa fa-fw fa-ban"></i> Reject Roster</wj-menu-item>