<form class="form-inline">
    <!-- <div class="form-group mb-2"> -->
        <label for="dateFrom" class="">Date From</label>
        <wj-input-date class="" id="dateFrom" class="" #dateFromInput [format]="'dd/MM/yyyy'" [max]="dateTo" [value]="dateFrom"></wj-input-date>
    <!-- </div> -->

    <!-- <div class="form-group mb-2"> -->
        <label>Date To</label>
        <wj-input-date class="" #dateToInput [format]="'dd/MM/yyyy'" [min]="dateFrom" [value]="dateTo"></wj-input-date>
    <!-- </div> -->

    <!-- <div class="form-group"> -->
        <button class="btn btn-primary mb-2"
            [disabled]="_dataService.loading"
            (click)="showRosters('Employee')">
                <i class="fa"
                    [ngClass]="{'fa-calendar': !_dataService.loading, 'fa-spinner fa-spin': _dataService.loading }">
                </i>
                Show Rosters
        </button>
    <!-- </div> -->
</form>
