<div class="payslip-content">
    <h3>Payslip History</h3>
    <p>This page displays your payslip history.</p>
    <p>Select a payslip that you wish to View and Print.</p>
    <div class="payslip-list">
        <div *ngFor="let payslip of payslips" class="payslip-row">
            <div class="payslip-description">{{ payslip.payRunName}} for Pay Period {{ payslip.payPeriodStartDate | date:'dd/MM/yyyy' }} - {{ payslip.payPeriodEndDate | date:'dd/MM/yyyy' }}. Committed on {{ payslip.commitDate | date:'dd/MM/yyyy' }}.</div>
            <div>
                <button class="btn btn-default" (click)="onClickViewPayslip(payslip)">
                    <i class="fa fa-file-text-o"></i><span class="button-text"> View</span>
                </button>
                <button class="btn btn-default" (click)="onClickDownloadPayslip(payslip)">
                    <i class="fa fa-file-pdf-o"></i><span class="button-text"> Download</span>
                </button>
            </div>
        </div>
    </div>
</div>
<wj-popup #payslipViewPopup [modal]="true" (initialized)="payslipViewModal = payslipViewPopup">
    <app-employee-payslip-view [payslip]="showPayslip"></app-employee-payslip-view>
</wj-popup>
