.payslip-content {
    width: 95%;
    height: 100%;
    padding: 25px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .payslip-content {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .button-text {
        display: none;
    }
}

.payslip-list {
    width: 100%;
    padding: 20px;
    font-size: 10pt;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19);
}

.payslip-row {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    display: table;
}

.payslip-description {
    display: table-cell;
    vertical-align: middle;
}

h3 {
    color: rgb(68, 120, 148);
}

wj-popup {
    max-height: 90vh;
    max-width: 85vh;
}