<div class="container">
    <form [formGroup]="employeeDetailsForm" class="form-group row" (ngSubmit)="onSubmit(employeeDetailsForm.value)">
        <div class="col-sm-auto">
            <h3>Personal Details</h3>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="firstName">
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
            </div>
            <div formGroupName="address" class="">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" type="text" class="form-control" formControlName="street">
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control" formControlName="city">
                    </div>
                    <div class="col-md-2">
                        <label for="postcode">Postcode</label>
                        <input id="postcode" type="text" class="form-control" formControlName="postCode">
                    </div>
                    <div class="col-md-2">
                        <label for="state">State</label>
                        <input id="state" type="text" class="form-control" formControlName="state">
                    </div>
                    <div class="col-md-4">
                    <label for="country">Country</label>
                        <select id="country" class="form-control" formControlName="country">
                            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="emailAddress">
            </div>
            <button class="btn btn-primary" [disabled]="_dataService.loading" type="submit">
                <i class="fa" [ngClass]="{'': !_dataService.loading, 'fa-spinner fa-spin': _dataService.loading }"></i> Save Changes</button>
            <p *ngIf="result.visible" [style.color]="result.success ? 'green': 'red'">{{ result.message }}</p>
            <!-- <p>{{employeeDetailsForm.value | json}}</p> -->
        </div>
    </form>
</div>