.form-login {
  max-width: 250px;
  margin: 0 auto;
}

.select-fix {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /*background-image: url(assets/select-arrow.svg);*/
    background-repeat: no-repeat;
    background-position: right 50%;
}

button[type="submit"] {
  width: 100%;
}
