<form class="form-login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
      <input type="text" class="form-control" name="login" placeholder="Username" required ngModel>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
      <input type="password" class="form-control" name="password" placeholder="Password" required ngModel>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="loading"><i class="fa" [ngClass]="{'fa-sign-in': !loading, 'fa-spinner fa-spin': loading }"></i> Login</button>

  <div class="clearfix"></div>
</form>
