/*
  This stylesheet contains various styles to help with formatting a printed report that contains a footer
*/

.print-footer {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  table, tr {
    width: 100%;
  }
}

.right-text {
  text-align: right;
}

@media screen {
  .print-footer-spacer {
    display: none;
  }
}

@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
  }

  tfoot.print-footer-spacer {
    height: 10mm;
    width: 100%;
  }
  
  table {page-break-inside: auto; }
  tr    { page-break-inside: avoid; page-break-after: auto; }
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
}