<div class="row">
    <div class="col-md-8">
        <label>Roster Types:</label>
        <button class="btn" (click)="toggleRows(1);toggleP = !toggleP" [class.btn-default]="!toggleP" title="Toggle Planned Engagements">P</button>
        <button class="btn" (click)="toggleRows(2);toggleT = !toggleT" [class.btn-timekeeping]="!toggleT" title="Toggle Timekeeping Engagements">T</button>
        <button class="btn" (click)="toggleRows(3);toggleA = !toggleA" [class.btn-authorised]="!toggleA" title="Toggle Authorised Engagements">A</button>
        <span class="pta-label">P</span> {{totalPlannedTime}} / <span class="pta-label">T</span> {{totalTimekeepingTime}} / <span class="pta-label">A</span> {{totalAuthorisedTime}}
        <button class="btn btn-default" (click)="commands.acceptRosterCommand.executeCommand()"><i class="fa fa-check"></i> Accept Roster</button>
        <button class="btn btn-default" (click)="commands.rejectRosterCommand.executeCommand()"><i class="fa fa-ban"></i> Reject Roster</button>
    </div>
    <!-- <div class="col-md-6">
        <label>Roster Actions:</label>
        <button class="btn btn-default" (click)="commands.acceptRosterCommand.executeCommand()"><i class="fa fa-check"></i> Accept Roster</button>
        <button class="btn btn-default" (click)="commands.rejectRosterCommand.executeCommand()"><i class="fa fa-ban"></i> Reject Roster</button>
    </div> -->
</div>
