div.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pta-label {
  font-weight: bold;
}

.roster-select {
    width: auto;
    display: inline-block;
}

/* Custom Bootstrap button variations */
.btn-timekeeping {
  color: #333;
  background-color: #99e6ff;
  border-color: #80e0ff;
}
.btn-timekeeping:focus,
.btn-timekeeping.focus {
  color: #333;
  background-color: #66daff;
  border-color: #00c1ff;
}
.btn-timekeeping:hover {
  color: #333;
  background-color: #66daff;
  border-color: #42d1ff;
}
.btn-timekeeping:active,
.btn-timekeeping.active,
.open > .dropdown-toggle.btn-timekeeping {
  color: #333;
  background-color: #66daff;
  border-color: #42d1ff;
}
.btn-timekeeping:active:hover,
.btn-timekeeping.active:hover,
.open > .dropdown-toggle.btn-timekeeping:hover,
.btn-timekeeping:active:focus,
.btn-timekeeping.active:focus,
.open > .dropdown-toggle.btn-timekeeping:focus,
.btn-timekeeping:active.focus,
.btn-timekeeping.active.focus,
.open > .dropdown-toggle.btn-timekeeping.focus {
  color: #333;
  background-color: #42d1ff;
  border-color: #00c1ff;
}
.btn-timekeeping:active,
.btn-timekeeping.active,
.open > .dropdown-toggle.btn-timekeeping {
  background-image: none;
}
.btn-timekeeping.disabled:hover,
.btn-timekeeping[disabled]:hover,
fieldset[disabled] .btn-timekeeping:hover,
.btn-timekeeping.disabled:focus,
.btn-timekeeping[disabled]:focus,
fieldset[disabled] .btn-timekeeping:focus,
.btn-timekeeping.disabled.focus,
.btn-timekeeping[disabled].focus,
fieldset[disabled] .btn-timekeeping.focus {
  background-color: #99e6ff;
  border-color: #80e0ff;
}
.btn-timekeeping .badge {
  color: #99e6ff;
  background-color: #ffffff;
}

.btn-authorised {
  color: #333;
  background-color: #ffff99;
  border-color: #ffff80;
}
.btn-authorised:focus,
.btn-authorised.focus {
  color: #333;
  background-color: #ffff66;
  border-color: #ffff00;
}
.btn-authorised:hover {
  color: #333;
  background-color: #ffff66;
  border-color: #ffff42;
}
.btn-authorised:active,
.btn-authorised.active,
.open > .dropdown-toggle.btn-authorised {
  color: #333;
  background-color: #ffff66;
  border-color: #ffff42;
}
.btn-authorised:active:hover,
.btn-authorised.active:hover,
.open > .dropdown-toggle.btn-authorised:hover,
.btn-authorised:active:focus,
.btn-authorised.active:focus,
.open > .dropdown-toggle.btn-authorised:focus,
.btn-authorised:active.focus,
.btn-authorised.active.focus,
.open > .dropdown-toggle.btn-authorised.focus {
  color: #333;
  background-color: #ffff42;
  border-color: #ffff00;
}
.btn-authorised:active,
.btn-authorised.active,
.open > .dropdown-toggle.btn-authorised {
  background-image: none;
}
.btn-authorised.disabled:hover,
.btn-authorised[disabled]:hover,
fieldset[disabled] .btn-authorised:hover,
.btn-authorised.disabled:focus,
.btn-authorised[disabled]:focus,
fieldset[disabled] .btn-authorised:focus,
.btn-authorised.disabled.focus,
.btn-authorised[disabled].focus,
fieldset[disabled] .btn-authorised.focus {
  background-color: #ffff99;
  border-color: #ffff80;
}
.btn-authorised .badge {
  color: #ffff99;
  background-color: #ffffff;
}

/* Custom Bootstrap button variations W/Pr/Pb */
.btn-w {
  color: #0b051a;
  background-color: #f1976d;
  border-color: #f36744;
}
.btn-w:hover {
  color: #0b051a;
  background-color: #f56725;
  border-color: #ce5436;
}

.btn-Pr {
  color: #0b051a;
  background-color: #5d97f0;
  border-color: #4b7bd4;
}
.btn-Pr:hover {
  color: #0b051a;
  background-color: #1764f3;
  border-color: #163a9e;
}

.btn-Pb {
  color: #0b051a;
  background-color: #82ecab;
  border-color: #62e47e;
}
.btn-Pb:hover {
  color: #0b051a;
  background-color: #25f069;
  border-color: #229e37;
}
.btn-EmployeeDetails{
  width: 3cm;
  height: 0.80cm;
  margin-bottom: 0%;
}