@media (min-width: 630px) {
    .modal-body {
        width: 630px;
    }  
}
.rostertype{    
    width:130px;          
}
.rosterPn .checkbox{   
   margin-top: 4.5px;
   margin-bottom: 2px;
}

.formatPn .checkbox{   
    margin-top: 2px;   
 }
