
<div class="modal-content modal-md" >
    <div class="modal-header">
        <button type="button" class="close wj-hide" data-dismiss="modal" aria-label="Close">&times;</button>
        <h4 class="modal-title">Report Settings</h4>
    </div> 
    <div class="modal-body ">
        <div class="row">           
            <div class="col-xs-7 col-sm-5 col-md-4" >
                <div class= "rosterPn">
                    <div class="panel panel-info">
                        <div class="panel-heading">Roster Type</div>
                        <div class="panel-body">                          
                            <div class="col-xs-offset-1 ">
                                <div class="row">
                                    <div class="checkbox">
                                        <i class="roster-icon-p"><span>P</span></i>
                                        <label class="rostertype"> Planned  </label>               
                                        <input type="checkbox"  name="planned" 
                                            [(ngModel)]="reportSettingOptions.rosterType[0].planned" 
                                            (ngModelChange)="rosterOption = 'planned';updateReportSettings($event, reportSettingOptions)" 
                                            (change)="toggleCheckbox($event)"
                                            [checked] = "reportSettingOptions.rosterType[0].planned"/>                     
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="checkbox">
                                        <i class="roster-icon-t"><span>T</span></i>
                                        <label class="rostertype"> Timekeeping </label>
                                        <input  type="checkbox"  name="timekeeping" 
                                            [(ngModel)]="reportSettingOptions.rosterType[0].timekeeping" 
                                            (ngModelChange)="rosterOption = 'timekeeping';updateReportSettings($event, reportSettingOptions)" 
                                            (change)="toggleCheckbox($event)"
                                            [checked] = "reportSettingOptions.rosterType[0].timekeeping"/> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="checkbox"> 
                                        <i class="roster-icon-a "><span>A</span></i>                                                   
                                        <label class="rostertype">Authorised  </label>                          
                                        <input type="checkbox"  name="authorised"
                                            [(ngModel)]="reportSettingOptions.rosterType[0].authorised" 
                                            (ngModelChange)="rosterOption = 'authorised';updateReportSettings($event, reportSettingOptions)" 
                                            (change)="toggleCheckbox($event)"
                                            [checked] = "reportSettingOptions.rosterType[0].authorised"/>                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xs-5 col-sm-7 col-md-8" >
                <div class ="formatPn">
                    <div class="panel panel-info">
                        <div class="panel-heading">Report Format</div>
                        <div class="panel-body">                            
                            <div class="col-xs-offset-1 ">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="brkTime" [(ngModel)]="this.reportSettingOptions.reportFormat[0].breakTime"> Break times and hours worked pre-populated?
                                    </label>
                                </div>               
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="dblSpace" [(ngModel)]="this.reportSettingOptions.reportFormat[0].dblSpace"> Use double space in this timesheet?
                                    </label>
                                </div>               
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="hidEndTimes" [(ngModel)]="this.reportSettingOptions.reportFormat[0].hidEndTimes"> Hide end times in this timesheet?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default wj-hide">Close</button>
        <button type="button" class="btn btn-primary wj-hide" (click)="updateReportFilter()" ><i class="fa" ></i> Save Changes</button>
    </div>
</div>
 

  

