@import '../styles.scss';

.navbar-logo {
    width: 200px;
}

.navbar-spacing {
    margin-bottom: 40px;
}

.navbar-name {
    display: inline-block;
    color: $inzenius-heading-blue;
    p {
        display: inline-block;
        margin: 0;
        padding: 14px 0 14px 0;
        font-size: 16px;
        // font-weight: 500;
    }
}

@media (max-width: 765px) {
    .navbar-brand {
        height: auto;
    }

    .navbar-name {
        p {
            padding: 0;
        }
    }
}

.fake-link {
    cursor: pointer;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.menu-item
{
    height: 25px;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;    
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;  
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-footer {
    margin: 20px 0;
    text-align: center;
}
