<nav class="navbar navbar-default navbar-static-top navbar-spacing">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="img-thumbnail navbar-logo" src="assets/img/inzenius-logo.svg" alt="Inzenius logo">
            </a>
        </div><!-- /.navbar-header -->
        <div class="navbar-name">
            <p>{{ employeeDisplayName }}</p>
        </div>

        <ul class="nav navbar-nav navbar-right" *ngIf="_dataService.isLoggedIn()">
            <li routerLinkActive="active"><a routerLink="/my-details"><i class="fa fa-address-book"></i> My Details</a></li>
            <li routerLinkActive="active"><a routerLink="/leave"><i class="fa fa-calendar-check-o"></i> Leave</a></li>
            <li routerLinkActive="active"><a routerLink="/payslips"><i class="fa fa-dollar"></i> Payslips</a></li>
            <li routerLinkActive="active"><a routerLink="/rostering"><i class="fa fa-calendar"></i> Rostering</a></li>
            <li routerLinkActive="active"><a routerLink="/reports" [ngClass]="{ 'inactive' : !_dataService.canAccessReports() }"><i class="fa fa-file-text-o"></i> Reports</a></li>
            
            <li dropdown>
                    <a href dropdownToggle class="dropdown-toggle" (click)="false"><i class="fa fa-user-o"></i> {{ userName }} <i class="fa fa-caret-down"></i></a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="menu-item" routerLink="/change-password"><i class="fa fa-key"></i> Change Password</a></li>
                        <li role="menuitem"><a class="menu-item" (click)="logout()" ><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
            </li>

        </ul>
    </div><!-- /.container-fluid -->
</nav>


<main class="container-fluid"><router-outlet></router-outlet></main>

<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted text-footer">Copyright © 2018 Third Millennium Management</p>
        <!-- <p class="pull-right">{{ AppConfig.settings.api }}</p> -->
    </div>
</footer>
