
<wj-flex-grid
    *ngIf="userOptions"
    #grid
    [itemsSource]="_dataService.gridData"
    [showAlternatingRows]="false"
    [selectionMode]="'ListBox'"
    [allowMerging]="'Cells'"
    [isDisabled]="_dataService.loading"
    [allowDragging]="'None'"
    [wjContextMenu]="ctxMenu"
    (formatItem)="styleCell($event)"
    (beginningEdit)="backupCellData($event)"
    (cellEditEnded)="checkDataChange($event)"
    (rowEditEnding)="sendDataChanges()"
    (selectionChanged)="_dataService.isAuthorizable = isAuthorizable($event); resetPbButtons($event); setSelectedEntityID()"
    (initialized)="initGrid(grid)">

    <wj-flex-grid-column
        *ngIf="userOptions.employeeName"
        [header]="'Name'"
        [binding]="'employeeName'"
        [isReadOnly]="true"
        [allowMerging]="true">
    </wj-flex-grid-column>

    <wj-flex-grid-column
        *ngIf="userOptions.shiftComposition"
        [header]="'&nbsp;'"
        [binding]="'shiftCompositionCodeDisplay'"
        [isReadOnly]="true"
        [allowMerging]="true"
        [allowSorting]="false"
        [align]="'center'"
        [cssClass]="'shift-composition'"
        [maxWidth]="28"
        [minWidth]="28"
        [width]="28">
    </wj-flex-grid-column>
    
    <wj-flex-grid-column
        *ngIf="userOptions.date"
        [header]="'Date'"
        [binding]="'startDateFull'"
        [isReadOnly]="true"
        [allowMerging]="true"
        [format]="'ddd dd MMM'">
    </wj-flex-grid-column>

    <wj-flex-grid-column
        *ngIf="userOptions.rosterAcceptance"
        [header]="'&nbsp;'"
        [binding]="'rosterAcceptanceTypeDisplay'"
        [isReadOnly]="true"
        [allowMerging]="false"
        [allowSorting]="false"
        [align]="'center'"
        [cssClass]="'roster-acceptance'"
        [maxWidth]="28"
        [minWidth]="28"
        [width]="28">
    </wj-flex-grid-column>
    
    <wj-flex-grid-column *ngIf="userOptions.startTime" [header]="'Start Time'" [binding]="'startTimeFull'" [format]="userSettingTimeformat">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-input-time [(value)]="cell.value" [step]="1" [format]="userSettingTimeformat" [mask]="'00:00'" [isRequired]="false"></wj-input-time>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.finishTime" [header]="'Finish Time'" [binding]="'endTimeFull'" [format]="userSettingTimeformat">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-input-time [(value)]="cell.value" [step]="1" [format]="userSettingTimeformat" [mask]="'00:00'" [isRequired]="false"></wj-input-time>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.breakStart" [header]="'Break Start'" [binding]="'breakStartFull'" [format]="userSettingTimeformat" [isRequired]="false">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-input-time [(value)]="cell.value" [step]="1" [format]="userSettingTimeformat" [mask]="'00:00'" [isRequired]="false"></wj-input-time>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.breakEnd" [header]="'Break Finish'" [binding]="'breakEndFull'" [format]="userSettingTimeformat" [isRequired]="false">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-input-time [(value)]="cell.value" [step]="1" [format]="userSettingTimeformat" [mask]="'00:00'" [isRequired]="false"></wj-input-time>
        </ng-template>
    </wj-flex-grid-column>
    
    <wj-flex-grid-column *ngIf="userOptions.breakPaid" [header]="'Break Paid'" [binding]="'breakPaid'">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <input
                type="checkbox"
                class="wj-cell-check"
                [(ngModel)]="cell.item.breakPaid"
                [disabled]="!cell.item.breakStartFull || !cell.item.breakEndFull || !cell.item.breakLength">
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions" [header]="'Break Length'" [binding]="'breakLength'" [isRequired]="false">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-input-number [(value)]="cell.value" [min]="0" [format]="'n0'" [isRequired]="false"></wj-input-number>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.total" [header]="'Engagement Length'" [binding]="'engagementLengthFull'" [isReadOnly]="true">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            {{convertMinsToHrsMins(cell.item.engagementLengthFull)}}
        </ng-template>
    </wj-flex-grid-column>
    
    <wj-flex-grid-column *ngIf="userOptions.location" [header]="'Location'" [binding]="'locationName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [(text)]="cell.value" (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.grade" [header]="'Grade'" [binding]="'gradeName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [(text)]="cell.value" (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.rule" [header]="'Rule'" [binding]="'ruleName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [isRequired]="false" [(text)]="cell.value"
            (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.costCentre" [header]="'Cost Centre'" [binding]="'costCentreName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [(text)]="cell.value" (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.events" [header]="'Event'" [binding]="'eventName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [isRequired]="false" [(text)]="cell.value"
            (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.position" [header]="'Position'" [binding]="'positionName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-combo-box #comboBox [isEditable]="false" [(text)]="cell.value" (gotFocus)="getRosterEntities(cell, comboBox)"></wj-combo-box>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.task" [header]="'Tasks'" [binding]="'taskName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-multi-select #multiSelect (gotFocus)="getRosterEntitiesMulti(cell, multiSelect, 'taskIds')"></wj-multi-select>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.asset" [header]="'Assets'" [binding]="'assetName'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-multi-select #multiSelect (gotFocus)="getRosterEntitiesMulti(cell, multiSelect, 'assetIds')"></wj-multi-select>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.allowance" [header]="'Allowances'" [binding]="'allowanceDetails'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-multi-select #multiSelect (gotFocus)="getRosterEntitiesMulti(cell, multiSelect, 'allowanceIds')"></wj-multi-select>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.deduction" [header]="'Deductions'" [binding]="'deductionDetails'" [minWidth]=100 width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" let-cell="cell">
            <wj-multi-select #multiSelect (gotFocus)="getRosterEntitiesMulti(cell, multiSelect, 'deductionIds')"></wj-multi-select>
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column *ngIf="userOptions.notes" [header]="'Notes'" [binding]="'rosterNotes'" [minWidth]=100 width="*"></wj-flex-grid-column>

</wj-flex-grid>

<wj-menu #ctxMenu style="display: none">
    <app-context-menu></app-context-menu>
</wj-menu>