<div class="container">
    <h3>Unavailabilty Request</h3>
    <form class="form-group" [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit(leaveRequestForm.value)">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Date From:</label>
                    <!-- <wj-input-date
                        style="display:none"
                        #dateFromInput
                        formControlName="dateFrom"
                        [format]="'dd/MM/yyyy'"
                        [max]="dateToInput.value"
                        [value]="dateFrom"
                        required >
                    </wj-input-date> -->
                <input type="date" formControlName="dateFrom" class="form-control" title="Start date of unavailablility period" required>
            </div>
            <div class="form-group col-md-6">
                <label>Date To:</label>
                    <!-- <wj-input-date
                        style="display:none"
                        #dateToInput
                        [format]="'dd/MM/yyyy'"
                        [min]="dateFromInput.value"
                        [value]="dateTo"
                        required >
                    </wj-input-date> -->
                <input type="date" formControlName="dateTo" class="form-control" title="End date of unavailablility period" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Leave Type:</label>
                <select formControlName="leaveTypeId" class="form-control" title="Type of unavailablility" required>
                    <option *ngFor="let leave of leaveTypes; let i = index" value="{{leave.leaveTypeId}}">{{leave.leaveName}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <app-employee-leave-details [leave]="leave"></app-employee-leave-details>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Send To:</label>
                <input type="email" formControlName="emailRecipients" class="form-control" placeholder="manager@business.com.au" title="One or more recipient email addresses" multiple required>
                <!-- <p *ngIf="emailRecipients.errors?.pattern && (emailRecipients.touched || emailRecipients.dirty)">Recipients is invalid!</p> -->
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Comments:</label>
                <textarea formControlName="comments"
                    placeholder="Add any additional comments here."
                    class="form-control"
                    rows=5
                    title="Additional comments for your manager"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="leaveRequestForm.invalid || _dataService.loading" type="submit">
            <i class="fa" [ngClass]="{'': !_dataService.loading, 'fa-spinner fa-spin': _dataService.loading }"></i>
            Submit Request
        </button>
        <p *ngIf="result.visible" [style.color]="result.success ? 'green': 'red'">{{ result.message }}</p>
        <!-- <p>Form Value: {{ leaveRequestForm.value | json }}</p>
        <p>Form Valid? {{ leaveRequestForm.valid }}</p> -->
    </form>
</div>