<form class="form-horizontal">
    <div class="form-group row">
        <div class="col-md-3">
            <label class="">Report Type</label>
            <div class="">
                <wj-combo-box
                    #reportTypeInput
                    placeholder="Loading..."
                    [itemsSource]="reportTypeList"
                    [displayMemberPath]="'reportName'"
                    [selectedValuePath]="'reportType'"
                    (textChanged)="checkEntityTypes(reportTypeInput.text, '')">
                </wj-combo-box>
            </div>
        </div>

        <div class="col-md-3">
            <label class="">Date From</label>
            <div class="">
                <!-- dateFrom - Date Input -->
                <wj-input-date *ngIf="!showDateTimeInput"
                    #dateFromInput
                    [format]="'dd/MM/yyyy'"
                    [mask]="'00/00/0000'"
                    [value]="dateFrom"
                    [max]="dateTo"
                    (valueChanged)="onDateValueChange('dateFrom', dateFromInput.value, '')" >
                </wj-input-date>

                <!-- dateFrom - Date Time Input -->
                <wj-input-date-time *ngIf="showDateTimeInput"
                    #dateFromInput
                    [format]="'dd/MM/yyyy HH:mm'"
                    [mask]="'00/00/0000 00:00'"
                    [value]="dateFrom"
                    [max]="dateTo"
                    (valueChanged)="onDateValueChange('dateFrom', dateFromInput.value, '')" >
                </wj-input-date-time>
            </div>
        </div>

        <div class="col-md-3">
            <label class="">Date To</label>
            <div class="">
                <!-- dateTo - Date Input -->
                <wj-input-date *ngIf="!showDateTimeInput"
                    #dateToInput
                    [format]="'dd/MM/yyyy'"
                    [mask]="'00/00/0000'"
                    [value]="dateTo"
                    [min]="dateFrom"
                    (valueChanged)="onDateValueChange('dateTo', dateToInput.value, '')" >
                </wj-input-date>

                <!-- dateTo - Date Time Input -->
                <wj-input-date-time *ngIf="showDateTimeInput"
                    #dateToInput
                    [format]="'dd/MM/yyyy HH:mm'"
                    [mask]="'00/00/0000 00:00'"
                    [value]="dateTo"
                    [min]="dateFrom"
                    (valueChanged)="onDateValueChange('dateTo', dateToInput.value, '')" >
                </wj-input-date-time>
            </div>
        </div>

        <!-- <div class="col-md-3">
            <label class="">Report By</label>
            <div class="">
                <wj-combo-box
                    #entityTypeInput
                    placeholder="Loading..."
                    [itemsSource]="entityTypeList"
                    [displayMemberPath]="'entityName'"
                    (initialized)="getEntityTypes(entityTypeInput)"
                    (textChanged)="entityTypeListLoaded ? getTreeEntities(entityTypeInput.text) : null">
                </wj-combo-box>
            </div>
        </div> -->

        <div class="col-md-3">
            <button class="btn btn-primary"
                [disabled]="_dataService.loading"
                (click)="showReport(reportTypeInput.selectedValue, '', reportTypeInput.text)">
                <i class="fa" [ngClass]="{'fa-file-text-o': !_dataService.loading, 'fa-spinner fa-spin': _dataService.loading }"></i> Generate Report
            </button>
        </div>
    </div>
</form>
