// Heading Colour
$inzenius-heading-blue: rgb(68, 120, 148);;

// Roster type colour codes
$roster-colour-planned: #ffffff;
$roster-colour-tk: #99e6ff;
$roster-colour-authorised: #ffff99;
$roster-colour-prepublished: #b6cff3; // darkblue;
$roster-colour-published: #c9f1d8; // green;
$roster-colour-working: #f0c0aa; // red;
$roster-colour-font: black;

// Shift composition icon for two different colours
@mixin two-colour-shift-composition($c1, $c2) {
    border: 1px solid black;
    background: repeating-linear-gradient(
        to bottom,
        $c1,
        $c1 calc(50% - 0.5px),
        black calc(50% - 0.5px),
        black calc(50% + 0.5px),
        $c2 calc(50% + 0.5px),
        $c2
    );
}

// roster acceptance type column
.roster-acceptance {
    padding: 0;
    padding-top: 2px;
}

// shift composition column
.shift-composition {
    padding: 0;
    padding-top: 1px;
}

// Basic styling for all roster icons (shift composition and roster acceptance/type)
.roster-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
}

// Pre-published roster icon
.roster-icon-pre span {
    @extend .roster-icon;
    background: $roster-colour-prepublished;
    color: $roster-colour-font;
}

// Published roster icon
.roster-icon-pub span {
    @extend .roster-icon;
    background: $roster-colour-published;
    color: $roster-colour-font;
}

// Working roster icon
.roster-icon-w span {
    @extend .roster-icon;
    background: $roster-colour-working;
    color: $roster-colour-font;
}

// Planned roster icon
.roster-icon-p span {
    @extend .roster-icon;
    background: $roster-colour-planned;
}

// Timekeeping roster icon
.roster-icon-t span {
    @extend .roster-icon;
    background: $roster-colour-tk;
}

// Authorised roster icon
.roster-icon-a  span {
    @extend .roster-icon;
    background: $roster-colour-authorised;
}

// Planned + Timekeeping shift icon
.shift-composition-pt span {
    @extend .roster-icon;
    @include two-colour-shift-composition($roster-colour-planned, $roster-colour-tk);
}

// Planned + Authorised shift icon
.shift-composition-pa span {
    @extend .roster-icon;
    @include two-colour-shift-composition($roster-colour-planned, $roster-colour-authorised);
}

// Timekeeping + Authorised shift icon
.shift-composition-ta span {
    @extend .roster-icon;
    @include two-colour-shift-composition($roster-colour-tk, $roster-colour-authorised);
}

// Three colour shift composition code for PTA shifts
.shift-composition-pta span {
    @extend .roster-icon;
    background: repeating-linear-gradient(
        to bottom,
        $roster-colour-planned,
        $roster-colour-planned 30%,
        black 30%,
        black 36%,
        $roster-colour-tk 36%,
        $roster-colour-tk 63%,
        black 63%,
        black 69%,
        $roster-colour-authorised 69%,
        $roster-colour-authorised
    );
}
